# Add required variables for this microservice
# Variables must not contain values that are used in any environment, not dev, nor prod

# For example

# Database
MONGO_URL=mongodb://localhost:27017/test-db
MONGO_SERVER_URL=mongodb://localhost:27017

APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx

# Server URL
ORIGIN=http://localhost
URL=http://localhost:

# Microservices Ports
USER_MS_PORT=3001
AUTH_MS_PORT=3002
PERSONALITY_MS_PORT=3003
MATCH_MS_PORT=3004
CHAT_MS_PORT=3005
NOTIFICATION_MS_PORT=3006
MEDIA_MS_PORT=3007
SUGGESTIONS_MS_PORT=3008
PAYMENT_MS_PORT=3009
BILLIGIN_MS_PORT=3010

# Microservices URL
USER_MS_URL=http://localhost:3001
AUTH_MS_URL=http://localhost:3002
PERSONALITY_MS_URL=http://localhost:3003
MATCH_MS_URL=http://localhost:3004
CHAT_MS_URL=http://localhost:3005
NOTIFICATION_MS_URL=http://localhost:3006
MEDIA_MS_URL=http://localhost:3007
SUGGESTIONS_MS_URL=http://localhost:3008
PAYMENT_MS_URL=http://localhost:3009
BILLIGIN_MS_URL=http://localhost:3010

# AWS
ACCESS_KEY=XXXX
SECRET=XXXX
REGION=XXXX
BUCKET=XXXX

# storage
LOCAL_FOLDER=uploads/
PICTURE_URL=XXXXX

#ENDPOINTS
ENDPOINT_SAVE_PICTURE_USER=/user/add-pictures/
ENDPOINT_SAVE_PICTURE_PENDING=/pending/picture/
ENDPOINT_SAVE_BLURRY_PICTURE_USER=/user/update-blurry-picture/

ENDPOINT_USER_CREATE_ID_VERIFICATION=/id-verification
ENDPOINT_USER_UPDATE_ID_VERIFICATION_STATUS=/id-verification/users
ENDPOINT_CHAT_SEND_PICTURE=/chat/send-picture

NSFW_URL=/qNsfw

DEBUG=true

#Redis
BULL_REDIS_HOST=localhost
BULL_REDIS_PORT=6379
BULL_REDIS_PASSWORD=
BULL_SENTINEL_HOST=localhost
BULL_SENTINEL_PORT=26379
BULL_SENTINEL_PASSWORD=
BULL_SENTINEL_NAME=mymaster
